{% extends 'index_master.html' %}

{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        <h1>Bienvenido Aprendix...</h1>
        <p>¡Comencemos!</p>
        <div>
            <!-- Botones de navegación para cursos -->
            <a href="{% url 'listarcurso' %}" class="btn btn-primary">Listar Cursos</a>
            <a href="{% url 'agregarcurso' %}" class="btn btn-primary">Agregar Curso</a>
            <a href="{% url 'actualizarcurso' %}" class="btn btn-primary">Actualizar Curso</a>
            <a href="{% url 'eliminarcurso' %}" class="btn btn-primary">Eliminar Curso</a>
        </div>
    </div>
    <!-- /page content -->
{% endblock %}
